:root {
  --font-primary: Inter, Avenir, Helvetica, Arial, sans-serif;
  --color-primary: #232328;
  --color-secondary: #ededed;
  --color-bg:#F9F6EE;
  --color-header: linear-gradient(315deg, #6c63fe 0%, #252525 80%);
  --color-nav-bg: #252525;
  --color-link: #F9F6EE;

  --color-card-wrapper-bg: #784B84;
  --color-card: #342f36;
  --color-card-bg: #ededed;

  --color-btn-bg: #342f36;
  --color-btn-bg-hover: #453f48;
  --color-btn: #ededed;
/* 
  --font-primary: SourcePro;
  --font-bold: SourceProBold;
  --font-light: SourceProLight;
  --font-secondary: Kenoky; */

}

