
.items_list {
  list-style-type: none;
  padding: 2rem 1rem;
  width: 100%;
  height: 100%;  
  display: flex;   
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--color-card-wrapper-bg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.089), rgba(255, 255, 255, 0.13)),url('/gamenight.svg');
  background-position: top center;
  background-size: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
.items_list {
  background-repeat: no-repeat;
}
}
